body {
  background-color: rgb(236, 235, 227);
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Rubik", sans-serif;
}

h1,
h2 {
  font-weight: 500;
}

h3,
h4 {
  font-weight: 400;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.home-page {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-page {
  height: calc(100vh - 80px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-nav {
  display: block;
  background-color: none;
  width: 200px;
  height: auto;
  text-align: center;
  padding: 10px;
  margin: 20px;
  color: #353831;
  border: 2px solid #353831;
  text-decoration: none;
  font-weight: 800;
  font-family: "Lato", sans-serif;
  transition: all 0.2s ease-in-out;
}

.menu-nav:hover {
  background-color: #353831;
  color: rgb(236, 235, 227);
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: 800;
  color: 353831;
}

form label,
input {
  font-family: "Lato", sans-serif;
  display: block;
  width: 200px;
  padding: 10px;
  height: auto;
  text-align: center;
}

form input {
  background-color: white;
  color: rgb(44, 52, 70);
  font-size: 16px;
  border: none;
  outline: none;
}

form button {
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 800;
  background-color: none;
  border: 2px solid #353831;
  color: #353831;
  transition: all 0.2s ease-in-out;
}

form button:hover {
  background-color: #353831;
  color: white;
}

nav {
  width: 80%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Rubik", serif;
  font-weight: 600;
}

.site-nav {
  display: block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  color: rgb(99, 99, 99);
  border: 2px solid rgb(99, 99, 99, 0);
}

.user-nav {
  display: block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: rgb(99, 99, 99);
  border: 2px solid rgb(99, 99, 99, 0);
  transition: all 0.2s ease-in-out;
}

.user-nav:hover {
  font-size: 16px;
  font-weight: 600;
}

.is-active {
  color: #353831;
  border: 2px solid #353831;
}

.danger {
  text-decoration: none;
  color: brown;
}

.success {
  color: darkolivegreen;
}

h1 {
  text-align: center;
  color: #353831;
}

.buttons {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.dislike-button,
.like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: rgb(236, 235, 227);
  font-size: 20px;
  font-weight: 600;
}

.dislike-button img,
.like-button img {
  width: 40px;
}

.dislike-button img {
  position: relative;
  left: 3px;
  transition: all 0.1s ease-in-out;
}

.dislike-button {
  border: 4px solid black;
}

.dislike-button:hover img,
.like-button:hover img {
  width: 50px;
}

.dislike-button:active {
  background-color: black;
}

.like-button img {
  position: relative;
  top: 2px;
  transition: all 0.1s ease-in-out;
}

.like-button {
  border: 4px solid #d4443c;
}

.like-button:active {
  background-color: #d4443c;
}

.spinner-card {
  width: 70vw;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner-card p {
  text-align: center;
  margin: 10px 0 -30px 0;
}

.curator-card,
.artwork-card {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.curator-card h1 {
  width: 75%;
  text-align: start;
  margin: 5px;
  color: rgb(44, 52, 70);
}

.spinner-card,
.artwork-card {
  height: 70vh;
  width: 50vw;
}

.curator-card h2,
h3 {
  width: 75%;
  text-align: end;
  margin: 0 auto;
  color: rgb(88, 92, 102);
}

.curator-image {
  max-width: auto;
  max-height: 45vh;
}

.collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  min-height: 100vh;
  background-color: rgb(236, 235, 227);
}

.collection h1 {
  color: #353831;
}

.image-list {
  width: 100%;
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
}

.collection-image {
  width: 90%;
  height: auto;
  padding: 5%;
  transition: all 0.2s ease-in-out;
}

.mini-title {
  display: block;
  color: white !important;
  line-height: 1em;
  position: absolute;
  text-align: left;
  width: 18%;
  margin: 50px 40px;
  font-size: 24px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.image-box {
  transition: all 0.5s ease-in-out;
}

.artwork-detail-page {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.artwork-detail-text {
  background-color: rgb(236, 235, 227);
  padding: 0 0 50px 0;
}

.artwork-detail-text-block {
  min-height: calc(100vh - 80px);
  width: 50vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artwork-detail-img-block {
  min-height: calc(100vh - 80px);
  width: 50vw;
  margin: 0 auto 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artwork-detail-img {
  box-shadow: 0px 0px 50px -10px #888888;
  max-width: 44vw;
  max-height: 85vh;
}

.artwork-detail-text h3,
h4,
p {
  width: 90%;
  text-align: left;
  padding: 0 5px;
  margin: 0;
}

.artwork-detail-text p {
  margin: 0 0 15px 10px;
  line-height: 1.45em;
}

.artwork-detail-text h3 {
  margin: 5px 0 15px 10px;
}

.artwork-detail-text h1,
h2 {
  width: 90%;
  text-align: left;
  margin: 0;
  color: rgb(44, 52, 70);
}

.artwork-detail-text h1 {
  margin: 0 0 10px 0;
}

.like-liked {
  width: 200px;
  height: 50px;
  border: 2px solid rgb(44, 52, 70);
  background: none;
  color: rgb(44, 52, 70);
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  transition: all 0.2s ease-in-out;
}

.like-liked:hover {
  cursor: pointer;
  background-color: rgb(44, 52, 70);
  color: rgb(236, 235, 227);
}

.delete-icon,
.delete-icon img {
  width: 30px;
  background-image: "/public/images/remove.png";
  filter: saturate(0.8);
}

.delete-icon {
  position: relative;
  bottom: 60px;
  left: 30px;
}

.img-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.img-box {
  margin: 50px 10%;
  width: 80%;
  height: 200px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 0px 0px 30px -10px grey;
  transition: all 0.3s ease-in-out;
}

.img-box:hover {
  margin: 50px 8%;
  width: 84%;
}

.img-box:hover img {
  filter: brightness(0.5);
}

.img-box:hover h1 {
  opacity: 1;
}

.img-box h1 {
  color: white;
  display: inline-block;
  width: 60%;
  text-align: left;
  position: relative;
  top: -200px;
  margin: 20px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 900px) {
  .image-box:hover .mini-title {
    opacity: 1;
    z-index: 999;
  }

  .image-box:hover .collection-image {
    width: 96%;
    height: auto;
    padding: 2%;
    filter: brightness(0.5);
  }

  .buttons {
    position: relative;
    bottom: 33vh;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }

  .dislike-button,
  .like-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    outline: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
  }

  .artwork-card img {
    margin-top: 120px;
    max-height: 70vh;
    max-width: 70vw;
  }
}

@media only screen and (max-width: 900px) {
  nav {
    width: 92%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Rubik", serif;
    font-weight: 600;
  }

  .collection {
    width: 100%;
  }

  .collection h1 {
    margin-bottom: 0;
  }

  .curator-card {
    width: 100%;
  }

  .artwork-detail-page {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .artwork-detail-text-block {
    width: 100vw;
    min-height: auto !important;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .artwork-detail-text {
    width: 90vw;
  }

  .artwork-detail-img-block {
    width: 100vw;
    min-height: auto !important;
    margin: 10px auto 38px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .artwork-detail-img {
    box-shadow: 0px 0px 50px -10px #888888;
    max-width: 90vw;
  }

  .spinner-card,
  .artwork-card {
    height: 65vh;
    width: 90vw;
    padding-bottom: 30px;
  }

  .artwork-card img {
    max-height: 50vh;
    max-width: 95vw;
  }

  .artwork-card h1 {
    font-size: 24px;
  }
  .artwork-card h2 {
    font-size: 20px;
  }

  .curator-card h2,
  h3 {
    width: 90vw;
  }

  .curator-card h1 {
    width: 90vw;
  }

  .delete-icon {
    position: relative;
    bottom: 40px;
    left: 20px;
  }

  .img-box h1 {
    font-size: 18px;
  }

  .img-box {
    opacity: 1;
  }

  .img-box img {
    filter: brightness(0.7);
  }

  .image-list {
    width: 100%;
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
  }
}
